    body{
        background-color: #faf4e9;
        font-family: "Rowdies", sans-serif; 
        color: #3f1e01;
    }
    .prato-card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        transition: transform 0.2s ease-in-out;
        font-family: "Rowdies", sans-serif; 
        border: 2px solid #D97014;
    }

    .prato-card:hover {
        transform: translateY(-5px);
    }

    .prato-nome {
        font-size: 1.4em;
        color: #D97014;
        margin-bottom: 10px;
        text-align: left;
        font-weight: 500;
    }

    .prato-local {
        font-size: 0.9em;
        color: #555;
        margin-bottom: 10px;
        text-align: left;
    }

    .info-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 15px;
        width: 100%;
    }

    .prato-imagem {
        width: 100%;
        border-radius: 8px 8px 0 0;
        object-fit: cover;
        margin-bottom: 2px;
        max-height: 600px;
    }

    .interacoes {
        margin-top: 10px;
        display: flex;
        justify-content: space-between; /* Mantém o espaçamento entre os grupos */
        align-items: center;
    }

    .likes-dislikes {
        display: flex;
        align-items: center;
        margin-right: auto; /* Empurra os likes/dislikes para a esquerda */
        margin-left: 0;
    }

    .likes-dislikes i {
        margin-right: 5px;
        color: #555;
    }

    .comentarios {
        display: flex;
        align-items: center;
        margin-left: auto; /* Empurra o comentário para a direita */
        margin-right: 0;
    }

    .comentarios i {
        margin-right: 5px;
        color: #555;
    }

    .interacoes span {
        font-size: 1em;
        color: #666;
    }

    .like-count,
    .dislike-count,
    .comentario-count {
        display: flex;
        align-items: center;
    }

    .like-count {
        margin-right: 15px; /* Espaçamento entre like e dislike */
    }

    /* Estilos específicos para telas menores */
    @media (max-width: 768px) {
        .prato-card {
            padding: 10px;
        }

        .prato-nome {
            font-size: 1.2em;
        }

        .prato-local {
            font-size: 0.8em;
        }

        .interacoes span {
            font-size: 0.9em;
        }

        .prato-imagem {
            max-height: 150px;
        }
    }

    @media (max-width: 480px) {
        .prato-card {
            margin-bottom: 15px;
        }

        .prato-nome {
            font-size: 1em;
        }

        .prato-local {
            font-size: 0.7em;
        }

        .interacoes {
            justify-content: space-between;
        }

        .prato-imagem {
            max-height: 120px;
        }
    }